:root {
  --color-black-secondary: #212427;
  --color-gray: #262626;
  --color-white: #FFFFFF;
  --color-primary: #E1DFDD;
  --color-accent: #5f9ea0;

  --text-primary: 'Work Sans', sans-serif;
  --text-sec: Orbitron, sans-serif;
  --text-medium: 12.5px;
  --text-small: 10.5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
    background-color: var(--color-black-secondary);
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    text-align: center;
    font-family: var(--text-primary);
    line-height: 1;
    color: var(--color-white);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.full-screen-container {
  height: 80vh;
  overflow: auto;
}

.form-add-movie{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.form-add-movie > * {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
